
<div id="map_map" ng-controller="ListingsController" ng-init="find()">
  
  <!-- Map directive -->
  <ui-gmap-google-map
    center="map.center"
    zoom="map.zoom"
    pan="false"
  >
    
    <!-- Markers -->
    <ui-gmap-markers
      models="listings"
      idkey="'_id'"
      
      coords="'coordinates'"
    >
      
      <!-- Windows -->
      <ui-gmap-windows models="listings" idkey="'_id'" show="show" coords="coordinates" isIconVisibleOnClick="false" >
          <div ng-non-bindable>
              <p>Name: {{name}}</p>
              <p>Code: {{code}}</p>
              <p>Address: {{address}}</p>
          </div>
      </ui-gmap-windows>
    </ui-gmap-markers>
  </ui-gmap-google-map>
</div>